<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Catrancher App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="app">
<div class="container" ng-controller="homeController as view">
    <h1>Catrancher</h1>
    <h2><div>{{view.currentDate}}</div></h2>
    <div class="row">
        <div class="large-6 columns">
            <div ng-repeat="catData in view.catsData" class="large-3 columns">
                <cat id="{{catData | join}}">
                </cat>
            </div>
        </div>
        <h4>Clowders found</h4>
        <table>
            <tr ng-model="selectedCats" ng-repeat="selectedCat in selectedCats.cats" ng-switch on="$index % 3">
                <td ng-switch-when="0">
                    <cat id="{{selectedCat}}">
                    </cat>
                </td>
        <span ng-show="selectedCats.cats[$index+1]">
            <td ng-switch-when="0">
                <cat id="{{selectedCats.cats[$index+1]}}">
                </cat>
            </td>
        </span>
        <span ng-show="selectedCats.cats[$index+2]">
            <td ng-switch-when="0">
                <cat id="{{selectedCats.cats[$index+2]}}">
                </cat>
            </td>
        </span>
            </tr>
        </table>
    </div>



</div>

</body>
</html>
