cat {
    float: left;
    text-align: center;
}
cat img {
    height: 100px;
}

.selected {
    background: grey;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.grid {
    border-style: solid;
    border-width: 1px;
}

.column,
.columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

.large-1 {
    width: 8.33333%; }

.large-2 {
    width: 16.66667%; }

.large-3 {
    width: 25%; }

.large-4 {
    width: 33.33333%; }

.large-5 {
    width: 41.66667%; }

.large-6 {
    width: 50%; }

.large-7 {
    width: 58.33333%; }

.large-8 {
    width: 66.66667%; }

.large-9 {
    width: 75%; }

.large-10 {
    width: 83.33333%; }

.large-11 {
    width: 91.66667%; }

.large-12 {
    width: 100%; }